[Unit]
Description=swarm
Requires=network-online.target
Requires=docker.service

[Service]
Restart=always
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill swarm
ExecStartPre=-/usr/bin/docker rm swarm
ExecStart=/usr/bin/docker run --name swarm swarm join --advertise=${COREOS_PUBLIC_IPV4}:2375 etcd://${COREOS_PRIVATE_IPV4}:2379/swarm
ExecStop=/usr/bin/docker stop swarm

[X-Fleet]
Global=true
